 #root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  background-image: url("https://img.freepik.com/premium-photo/top-view-branch-fern-with-green-leaves-domestic-plant-white-desk-that-can-be-used-as-space_274679-9104.jpg");
}


